body, html {
    height: 100%;
    margin: 0;
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*** GENERAL USE ***/

a {
    text-decoration: none;
}

.list-group {
    color: black;
}

/*** NAVIGATION BAR ***/
.container {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: fixed;
    transition: all ease .5s;
    z-index: 1;
}

nav span {
    visibility: hidden;
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: 'Suranna', sans-serif;
    font-size: 1.8em;
    font-weight: lighter;
    padding-top: 5px;
    margin-left: 10%;
}

nav span:hover {
    color: khaki;
}

nav ul {
    margin: 0;
    padding: 70px 0;
    list-style: none;
    float: right;
    padding-right: 20%;
    transition: all ease .5s;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

nav a:hover {
    color: khaki;
    transition: all ease .5s;
}

nav.shrink {
    background-color: rgba(11, 14, 19, 0.9);
    height: 75px;
    padding-top: 0px;
    transition: all ease .5s;
}

nav.shrink > ul {
    padding-top: 30px;
    transition: all ease .5s;
    padding-right: 20%;
    font-size: 0.9em;
}

nav.shrink > span {
    visibility: visible;
    padding-top: 5px;
    margin-left: 20%;
    transition: all ease .5s;
    cursor: pointer;
}

/* For menu (navbar) purposes */
nav.fixNav {
    background-color: rgba(11, 14, 19, 0.9);
    height: 75px;
    padding-top: 0px;
    transition: all ease .5s;
}

nav.fixNav > ul {
    padding-top: 30px;
    transition: all ease .5s;
    padding-right: 20%;
    font-size: 0.9em;
}

nav.fixNav > span {
    visibility: visible;
    padding-top: 5px;
    margin-left: 20%;
    transition: all ease .5s;
    cursor: pointer;
}

/*** ANIMATIONS ***/
.sec-animate {
    position: relative;
    animation: animatebottom 0.8s
}

.pro-animate {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

/*** FOOTER ***/
footer {
    bottom: 0;
    height: 550px;
    background: rgba(11, 14, 19, 1);
}

.line {
    height: 1px;
    background: rgba(30, 37, 42, 1);
    width: 100%;
}

.info-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: block;
    color: white;
    text-transform: uppercase;
    font-family: 'Suranna', sans-serif;
    font-size: 3.2em;
    font-weight: lighter;
    margin-top: 55px;
    margin-bottom: 20px;
}

.copy-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-top: 15px;
}

.warning-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 15px;
}

/*** INPUT STYLE ***/
.yname:focus, .yemail:focus, textarea:focus, .textProduct:focus, .textQuantity:focus, .checkout-Input:focus {
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

/*** SCROLLBAR ***/
body::scrollbar {
    width: 8px;
}

body::scrollbar-thumb {
    background-color: khaki;
    border-radius: 5px;
}

body::-moz-scrollbar {
    width: 8px;
}

body::-moz-scrollbar-thumb {
    background-color: khaki;
    -moz-border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: khaki;
    -webkit-border-radius: 5px;
}

/*** SELECTION ***/
::selection {
    background: black;
    color: white;
}

-moz-::selection {
    background: black;
    color: white;
}

-webkit-::selection {
    background: black;
    color: white;
}

.list-group {
    height: 50px;
    display: inline-block;
    list-style: none;
    margin: 25px; /* Change the distance between horizontal divs */
}

.list-group-item {
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.query-builder {
    margin: auto;
    margin-top: 50px;
    width: 835px;
    border: 1px solid grey;

}

.query-selector {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.query-selector > input {
    width: 120px;
    height: 35px;
    background-color: #161d27;
    cursor: pointer;
    border: none;
    outline-color: #aaa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 3px;
}

.query-selector > input:hover {
    background-color: black;
    color: white;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type=button2], input[type=submit], input[type=reset] {
    width: 120px;
    height: 40px;
    background-color: #161d27;
    cursor: pointer;
    border: none;
    outline-color: #aaa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 3px;
}

select {
    font-family: 'Montserrat', sans-serif;
}